<div class="bg-body-secondary text-body py-3 shadow-sm">
  <div class="container d-flex justify-content-between align-items-center">
    <h5 class="mb-0 fw-bold">ระบบลางาน</h5>
    <button class="btn btn-secondary" (click)="toggleTheme()">
      <i *ngIf="isDarkMode" class="bi bi-sun-fill fs-4"></i>
      <i *ngIf="!isDarkMode" class="bi bi-moon fs-4"></i>
    </button>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs mt-3">
    <li class="nav-item">
      <button class="nav-link" [class.active]="tab === 'dashboard'" (click)="tab = 'dashboard'">แดชบอร์ด</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [class.active]="tab === 'request'" (click)="tab = 'request'">ขอลางาน</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" [class.active]="tab === 'history'" (click)="tab = 'history'">ประวัติการลา</button>
    </li>
    <li class="nav-item ms-auto">
      <button class="nav-link" [class.active]="tab === 'manager'" (click)="tab = 'manager'">
        <i class="fa-solid fa-user-tie"></i> Manager
      </button>
    </li>
  </ul>

  <div class="mt-4">
    <div *ngIf="tab === 'dashboard'">
      <app-dashboard></app-dashboard>
    </div>
    <div *ngIf="tab === 'request'">
      <app-requestform></app-requestform>
    </div>
    <div *ngIf="tab === 'history'">
      <app-history></app-history>
    </div>
    <div *ngIf="tab === 'manager'">
      <app-manager></app-manager>
    </div>
  </div>
</div>